@import '../variables.css';

.modal-modificar{
    position: relative;
    width: 100vw;
    max-width: 600px;
    min-height: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 1rem;
    gap: 2rem;
    overflow-y: hidden;
    border-radius: 10px;
    z-index: var(--modal-info-z);

}
.modal-modificar h1{
    margin-top: 2rem;
    font-family: 'Amiri';
    font-size: 1rem;
    border-bottom: 1px solid black;
}
.modal-modificar__container{
    display: flex;

}

.modal-closebutton{
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 20px;
    height: 20px;
}

.modal-closebutton:hover{
    cursor: pointer;
}