@import '../variables.css';
@import '../fonts.css';

/* Container */
.delivery__container, .form-container{
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
}
.pedido__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 12px;
    max-width: 500px;
    margin: 0 auto;
}
/* Items */
.pedido__items{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1rem;
}

/* Item Individual */
.pedido__item{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pedido__item-r1,.pedido__item-r2, .pedido__item-r3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Select */

.pedido__item-selectsize{
    border-radius: 6px;
    color: #000;
    background-color: var(--gray-4);
    padding: 2px 2px;
}

select option{
    background-color: var(--gray-4);
}

.pedido__item-selectsize option:checked{
    background-color: var(--gray-4);
}
.pedido__item-r1{
    gap: .5rem;
}
/* Datos */
.pedido__name{
    color: #000;
    text-align: left;
    font-family: 'Lato Bold';
    font-size: 0.875rem;
}
.pedido__price{
    width: 100%;
    color: #000;
    font-family: 'Lato Black';
    font-size: 0.875rem;
    font-style: normal;
    line-height: normal;
    text-align: right;
}
.pedido__desc{
    color: #000;
    font-family: 'Lato';
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1rem;
    letter-spacing: 0.00125rem;
    text-align: left;
}
/* Botones */
.pedido__buttons img{
    height: 15px;
    width: 15px;
}
.pedido__buttons p{
    color: var(--orange-1);
    font-weight: 900;
}

.pedido__buttons{
    display: flex;
    gap: .3rem;
    padding: .1rem 0 ;
}
/* Total */
.pedido__total{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--black-1);
    padding-top: .5rem;
}

.pedido__total-name, .pedido__total-price{
    font-family: 'Amiri Bold';
    color: var(--orange-2);

}
/* NOta */

.pedido__note-container{
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 1rem;
}

.pedido__note-container label{
    font-family: 'Lato';
    text-transform: uppercase;
    font-size: .8rem;
}
.pedido__note-container textarea{
    border-radius: 10px;
    padding: .4rem;
}
/* Pago Datos */
.pedido__form{
    width: 100%;
    max-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 2rem;
    gap: .6rem;
}

.form__row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form__row label{
    font-family: 'Lato';
    text-transform: uppercase;
    font-size: .8rem;
}

.form__row input, .form__row select{
    border: none;
    border: 1px solid black;
    border-radius: 4px;
    padding: .3rem 0;
    padding-left: .4rem;
}
.input-error{
    text-align: end;
    color: var(--red-error-2);
    font-family: 'Amiri Bold';
    font-size: .8rem;
    z-index: var(--normal-z);
    line-height: .7rem;
    padding: .2rem 0;
    max-width: 170px;
}
.input-error-file{
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
}
/* Pago */

.pedido__pago{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    gap: .5rem;
    display: flex;
    flex-direction: column;
    border: 2px dashed var(--orange-1);
    padding: .8rem ;
    overflow: hidden;
    color: var(--orange-2);
}

.pedido__pago label{
    font-family: 'Lato ';
}

.pedido__pago-input-container{
    display: flex;
    justify-content: center;
}
.pedido__pago-input-container input{
    display: flex;
    flex-direction: column;
    color: var(--gray-1);
}
/* Boton */
.pedido__button{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}
.pedido__button button{
    background: var(--black-1);
    color: var(--text-white);
}
.mp_button{
    max-width: none;
}