@font-face {
    font-family: 'Pirata One';
    src: local('sans-serif'),url('../assets/fonts/PirataOne/PirataOne-Regular.woff2') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Amiri';
    src: local('sans-serif'),url('../assets/fonts/Amiri/Amiri-Regular.woff2') format('truetype');
    font-display: swap;
  }

  
  @font-face {
    font-family: 'Amiri Bold';
    src: local('sans-serif'),url('../assets/fonts/Amiri/Amiri-Bold.woff2') format('truetype');
    font-display: swap;
  }
  @font-face {
    font-family: 'Post No Bills Colombo';
    src: local('sans-serif'),url('../assets/fonts/PostNoBillsColombo/postnobillscolombo-bold.woff2') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Post No Bills Colombo Bold';
    src:local('sans-serif'),url('../assets/fonts/PostNoBillsColombo/postnobillscolombo-bold.woff2') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Lato';
    src: local('sans-serif'),url('../assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-display: swap;
  }
  @font-face {
    font-family: 'Lato Light';
    src: local('sans-serif'),url('../assets/fonts/Lato/Lato-Light.ttf') format('truetype');
    font-display: swap;
  }
  @font-face {
    font-family: 'Lato Black';
    src: local('sans-serif'),url('../assets/fonts/Lato/Lato-Black.ttf') format('truetype');
    font-display: swap;

  }
  @font-face {
    font-family: 'Lato Bold';
    src: local('sans-serif'),url('../assets/fonts/Lato/Lato-Bold.ttf') format('truetype');
    font-display: swap;

  }