:root{
    --black-1: #000;
    --black-2: #32353E;
    --orange-2: #fcb06d;
    --orange-1: #FFC692;
    --red-error:#fb9999;
    --red-error-2:#521919;
    --green-ok:#7EC173;
    --green-1:#4e7848;
    --green-2:#1c760e;
    --blue-1: #5a64a8;
    --blue-2: #313d87;
    --blue-3: #7f95ea;
    --blue-4: #7f95ea49;
    --text-white: #fff;
    --gray-1: rgba(50, 53, 62,.48);
    --gray-2: #404040;
    --gray-3: #E8E8E8;
    --gray-4: #DDDDDD;
    --gray-5: #C6C7C9;
    --gray-6: #D1D1D1;
    --overlay-1: rgba(0, 0, 0, 0.5);
    --overlay-2:rgba(0, 0, 0, 0.3);
    --overlay-z: 1;
    --modal-info-z: 10000;
    --modal-z: 100000;
    --header-z: 1000;
    --nav-z: 100;
    --normal-z: 10;
}