:root{
    --black-1: #000;
    --orange-2: #dc8637;
    --orange-1: #FFC692;
    --text-white: #fff;
    --gray-1: rgba(50, 53, 62,.48);
    --gray-2: #404040;
    --gray-3: #E8E8E8;
    --gray-4: #DDDDDD;
    --gray-5: #C6C7C9;
    --gray-6: #D1D1D1;
    --overlay-z: 1;
    --header-z: 1000;
    --nav-z: 100;
    --normal-z: 10;
}