.dashboard{
    min-height: 100vh;
    height: auto;
    background-color: #fff;
}
.dashboard__nav{
    background-color: #5a64a8;

}
.dashboard__links-wrapper{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    justify-content: space-between;
    gap: .5rem;
    align-items: center;
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
}
.dashboard__link{
    color: #89a6ef;
}
.dashboard__link-icon{
    position: relative;
    width: 40px;
    height: 40px;
}
.dashboard__link-icon:hover{
    cursor: pointer;
    filter: saturate(1.4);
}
.dashboard__link-icon.active {
    filter: brightness(1.2) hue-rotate(40deg) saturate(2);
}


.dashboard__content{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media only screen and (min-width: 768px){
    .dashboard__nav{
        justify-content: space-evenly;
        padding: 1rem 5rem;

    }
    .dashboard__nav p{
        color: #89a6ef;
        text-transform: uppercase;
        font-family: 'Amiri';
        font-size: .9rem;
    }
}