                            /* GENERAL */
.dashboard__modal{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    min-height: 70%;
    height: auto;
    background-color: #fff;
    margin: 0 auto;
    border: 1px solid black;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    overflow-y: auto;
}
/* Top */
.dashboard__modal-top{
    height: 40px;
    width: 100%;
    background-color: var(--blue-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #7f95ea;
    padding: .5rem;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

}
.dashboard__modal-top-id{
    width: 100%;
    transform: translateX(50%);
    font-family: 'Amiri';
    text-transform: uppercase;
}
.dashboard__top-cruz{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
}
.dashboard__top-cruz img{
    width: 20px;
    height: 20px;
    filter: invert(.7)
}
.dashboard__top-cruz img:hover{
    filter: invert(.7) brightness(1.2);
    cursor: pointer;
}
/* Estado */
.dashboard__estado-modal{
    padding: 1rem;
    width: 100%;
}
.dashboard__estado-modal select{
    max-width: 150px;
    border: 1px solid var(--blue-3);
    background-color: var(--blue-1);
    color: #fff;
    /* Ocultar la flecha predeterminada */
  appearance: none;
  -webkit-appearance: none;
  /* Agregar la flecha personalizada utilizando un pseudo-elemento */
  background-image: url('../../assets/images/flecha-down.png');
  background-size: 10px; /* Ajusta el tamaño de la flecha según tus necesidades */
  background-repeat: no-repeat;
  background-position: 95% center; /* Puedes ajustar la posición de la flecha si es necesario */
  padding-right: 20px; /* Ajusta este valor para que el texto no se superponga con la flecha */
}
.dashboard__estado-modal select option{
    background-color: var(--blue-1);
}
.dashboard__estado-modal select:hover {
    background-color: var(--blue-2); 
    cursor: pointer;
  }
  .dashboard__dato{
    display: flex;
    gap: .2rem;
}
.dashboard-icon{
    width: 15px;
    height: 15px;
}
@media only screen and (min-width: 768px){
    .dashboard__modal{
        width: 80%;
    }
}

                                                                        /* PEDIDO */
.verpedido__infouser{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .2rem;
}

.verpedido__detalle-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 700px;
    padding: 1rem;
    margin: 0 auto;
}
.verpedido__detalle{
    border: 1px solid black;
    border-radius: 6px;
}
.verpedido__header{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-evenly;
    border-bottom: 1px solid black;
}
.verpedido__header div{
    padding:  .3rem .5rem;
    color: #7f95ea;
    background-color: var(--blue-2);
}

.verpedido__body{
    display: flex;
    flex-direction: column;

}
.verpedido__row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: .5rem;
}
.verpedido__row-total{
    border-top: 1px solid black;
}
.verpedido__total{
    grid-column: 3/4;
    font-weight: 900;
}
.verpedido__total-title{
    grid-column: 1/2;
    font-weight: 900;  
}

/* Nota */
.verpedido__nota{
    display: flex;
    padding: 1rem 0;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* Entrega */
.verpedido__infoentrega{
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}

.verpedido__pago, .verpedido__entrega, .verpedido__monto{
    display: flex;
    align-items: center;
    gap: .3rem;
}



                                                                        /* RESERVAS */
/* Info reserva */
.verreserva__info{
    width: 100%;
    padding: 2rem 0;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.verreserva__modal{
    top: 30%;
    min-height: 40%;
    width: 30%;
    min-width: 300px;
}
.verreserva__group{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    gap: .5rem;
}
.verreserva__dato{
    min-width: 100px;
}
                                                                        /* DUDA */
.verduda__modal{
    top: 30%;
    min-height: 40%;
    height: auto;
    width: 30%;
    min-width: 300px;
}
.verduda__info-wrapper{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}
.verduda__dato{
    display: flex;
    gap: .5rem;
    align-items: center;
}
.verduda__duda-wrapper{
    padding: 1rem;
    border: 1px solid;
    border-radius: 16px;
    border-image: linear-gradient(to left, #7f95ea, transparent) 100;
}
.verduda__info-wrapper label{
    color: var(--gray-1);
}

                                                                    /* CARTA */
.vercarta__modal{
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
}
.vercarta__modal-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 3rem;
}
.vercarta__modal-info{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}
.vercarta__modal-row div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.vercarta__modal-row{
    display: flex;
    flex-direction: column;
    align-items: end;

}
.vercarta__modal-row textarea{
    border: 1px solid black;
    border-radius: 6px;
    max-width: 120px;
}
.modal-item-error{
    width: 120px;
    
}
@media only screen and (min-width: 768px){
    .vercarta__modal-row textarea{
    max-width: 170px;
    }
    .vercarta__modal{
        min-width: 500px;
        width: 40%;
    }
    .modal-item-error{
        width: 170px;
        
    }
}