.verpedido__modal{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    min-height: 70%;
    height: auto;
    background-color: #fff;
    margin: 0 auto;
    border: 1px solid black;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    overflow-y: auto;
}
/* Top */
.verpedido__modal-top{
    height: 40px;
    width: 100%;
    background-color: var(--blue-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #7f95ea;
    padding: .5rem;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

}
.verpedido__top-id{
    width: 100%;
    transform: translateX(50%);
    font-family: 'Amiri';
    text-transform: uppercase;
}
.verpedido__top-cruz{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
}
.verpedido__top-cruz img{
    width: 20px;
    height: 20px;
    filter: invert(.7)
}
.verpedido__top-cruz img:hover{
    filter: invert(.7) brightness(1.2);
    cursor: pointer;
}
/* Info User */
.verpedido__infouser{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .2rem;
}
.verpedido__dato-icon-wrapper{
    display: flex;
    gap: .2rem;
}
.verpedido__dato-icon{
    width: 15px;
    height: 15px;
}

/* Detalle */
.verpedido__detalle-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 700px;
    padding: 1rem;
    margin: 0 auto;
}
.verpedido__detalle{
    border: 1px solid black;
    border-radius: 6px;
}
.verpedido__header{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-evenly;
    border-bottom: 1px solid black;
}
.verpedido__header div{
    padding:  .3rem .5rem;
    color: #7f95ea;
    background-color: var(--blue-2);
}

.verpedido__body{
    display: flex;
    flex-direction: column;

}
.verpedido__row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: .5rem;
}
.verpedido__row-total{
    border-top: 1px solid black;
}
.verpedido__total{
    grid-column: 3/4;
    font-weight: 900;
}
.verpedido__total-title{
    grid-column: 1/2;
    font-weight: 900;  
}

/* Nota */
.verpedido__nota{
    display: flex;
    padding: 1rem 0;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* Entrega */
.verpedido__infoentrega{
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}

.verpedido__pago, .verpedido__entrega, .verpedido__monto{
    display: flex;
    align-items: center;
    gap: .3rem;
}
/* Estado */
.verpedido__estado{
    padding: 1rem;
    width: 100%;
}
.verpedido__estado select{
    max-width: 150px;
    border: 1px solid var(--blue-3);
    background-color: var(--blue-1);
    color: #fff;
    /* Ocultar la flecha predeterminada */
  appearance: none;
  -webkit-appearance: none;
  /* Agregar la flecha personalizada utilizando un pseudo-elemento */
  background-image: url('../../assets/images/flecha-down.png');
  background-size: 10px; /* Ajusta el tamaño de la flecha según tus necesidades */
  background-repeat: no-repeat;
  background-position: 95% center; /* Puedes ajustar la posición de la flecha si es necesario */
  padding-right: 20px; /* Ajusta este valor para que el texto no se superponga con la flecha */
}
.verpedido__estado select option{
    background-color: var(--blue-1);
}
.verpedido__estado select:hover {
    background-color: var(--blue-2); 
    cursor: pointer;
  }
.a:hover{
    background-color: #fff;
}
@media only screen and (min-width: 768px){
    .verpedido__modal{
        width: 80%;
    }
}