.verpedidos,.verreservas{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.filtro__fechas{
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.filtro__fechas-button{
    background-color: var(--blue-2);
}

/* Filters */
.verpedidos__filters{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 16px;
  background-color: var(--gray-3);
}
.verpedidos__filter{
  display: flex;
  gap: .5rem;
  justify-content: center;
  align-items: center;
}
.verpedidos__filter input{
  width: auto;
}
/* Tabla */
.verpedidos__pedidos, .ver-lista{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid var(--gray-1);
    max-width: 900px;
    margin: 0 auto;
}

.verpedidos__header, .ver-lista__header{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    border-bottom: 1px solid var(--gray-1);
    padding-bottom: .4rem;
    font-size: .9rem;
    color: var(--gray-1);
    overflow-x: auto;

}
.verpedidos__body, .ver-lista__body{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: .5rem;
}

.ver-lista__row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border-bottom: 1px solid var(--gray-1);
    padding: 1rem;
    gap: .5rem;
}
.verreservas__body-row{
  padding-left: 0;
  padding-right: 0;
}
.ver-lista__row:hover{
    background-color: rgba(166, 166, 255, 0.423);
    border-radius: 12px;
    cursor: pointer;
    
}
.verpedidos__dato-estado{
    width: 30px;
}
.ver-lista__dato{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.ver-lista__dato img, .verpedidos__icon{
    width: 30px;
    height: 30px;
}
.verreservas__dato{
  display: flex;
  gap: 0;
}
.ver-lista__row:last-child{
    border:none;
}


/* Media */
@media only screen and (min-width: 768px){
.verpedidos__body, .verpedidos__header{
    width: 100%;
}
.verpedidos__dato-estado{
    width: 100%;
    max-width: 130px;
}
}

/* Animaciones y sus estilos */
@keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }


  @keyframes fadeIn {
    from {
      opacity: 0;
      background-color: #fff;
    }
    to {
      opacity: 1;
      background-color: var(--blue-4);  
    }
  }
  .animate-slide-down {
    animation-name: slideDown;
    animation-duration: 1s;
  }
  .animate-fade-in {
    animation-name: fadeIn;
    animation-duration: 1s;
  }