.verpedidos{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.verpedidos__fechas{
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.verpedidos__fecha-ayer, .verpedidos__fecha-hoy{
    background-color: var(--blue-2);
}

/* Tabla */
.verpedidos__pedidos{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid var(--gray-1);
    max-width: 900px;
    margin: 0 auto;
}

.verpedidos__header{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    border-bottom: 1px solid var(--gray-1);
    padding-bottom: .4rem;
    font-size: .9rem;
    color: var(--gray-1);
    overflow-x: auto;

}
.verpedidos__body{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: .5rem;
}

.verpedidos__body-row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border-bottom: 1px solid var(--gray-1);
    padding: 1rem;
    gap: .5rem;
}
.verpedidos__body-row:hover{
    background-color: rgba(166, 166, 255, 0.423);
    border-radius: 12px;
    cursor: pointer;
    
}
.verpedidos__dato-estado{
    width: 30px;
}
.verpedidos_dato{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.verpedidos_dato img{
    width: 30px;
    height: 30px;
}
.verpedidos__body .verpedidos__body-row:last-child{
    border:none;
}

@media only screen and (min-width: 768px){
.verpedidos__body, .verpedidos__header{
    width: 100%;
}
.verpedidos__dato-estado{
    width: 100%;
    max-width: 130px;
}
}

@keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }


  @keyframes fadeIn {
    from {
      opacity: 0;
      background-color: #fff;
    }
    to {
      opacity: 1;
      background-color: var(--blue-4);  
    }
  }
  .animate-slide-down {
    animation-name: slideDown;
    animation-duration: 1s;
  }
  .animate-fade-in {
    animation-name: fadeIn;
    animation-duration: 1s;
  }