/* Hero Container */
.hero-horarios__container{
    width: 100%;
    height: auto;
    min-height: 100vh;
    border-bottom: 1px solid black;
    background: rgb(255,255,255);
    background-image: url('../../assets/images/black-bg.webp');
    background-size: cover;
    background-position: 80% 50%;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}   

.hero-horarios{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.hero-horarios__section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-horarios__title{
    font-family: 'Pirata One';
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--orange-1)
}

/* Text */
.hero-horarios__text-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.hero-horarios__text{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.hero-horarios__text p, .hero{
    font-family: 'Amiri';
    line-height: 1rem;
    color: var(--gray-3);
}
/* Map */
.hero-horarios__map{
    min-width: 280px;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    height: 450px;
    padding: 1rem;
}
.hero-horarios__map iframe{
    width: 100%;
    height: 100%;
}
/* Button */
.hero-horarios__button{
    display: flex;
    padding: .5rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 1.25rem;
    background: var(--orange-1);
    max-width: 500px;
    margin: 0 auto;
}

.hero-horarios__button p{
    color: black;
    text-align: center;
    font-family: 'Amiri Bold';
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 700;
}
.hero-horarios__button img{
    width: 30px;
    height: 30px;
}
.hero-horarios__button:hover{
    background-color: var(--gray-1);
    cursor: pointer;
    border: 1px solid black;

}

@media only screen and (min-width: 768px){
    .hero-horarios__container{
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }
    .hero-horarios{
        flex-direction: row;
        max-width: 900px;
        margin: 0 auto;
    }
}