@import '../variables.css';

/* Container */
.hero-contactanos__container{
    position: relative;
    min-height: 110vh;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 1rem;
    background-image: url('../../assets/images/foodtruck-8.webp');
    background-position: 50% 50%;
    background-size: cover;
    padding-top: 2rem;
    gap: 3rem;
}
.hero-contactanos__container.active{
    height: auto;
}
.hero-contactanos__container::after{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    content: '';
    /* background-color: rgba(255, 198, 146,.48); */
    background-color: rgba(26, 26, 26, 0.48);
    z-index: var(--overlay-z);
}

/* Titulos */
.hero-contactanos__title{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: .6rem;
    z-index: var(--normal-z);
    max-width: 900px;

}

.hero-contactanos__title h2{
    color: var(--orange-1);
    font-family: 'Pirata One';
    font-size: 2.125rem;
    font-weight: 400;
}

.hero-contactanos__title p{
    color: var(--gray-3);
    font-family: 'Lato';
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: left;
}

/* Form */
.hero-contactanos__form{
    max-width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    z-index: var(--normal-z);

}

.hero-contactanos__inputs{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
/* Input individual */
.hero-contactanos__input{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
}
.hero-contactanos__input div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    gap: 1rem;
}
/* Error */
.hero-contactanos__inputs p{
    text-align: end;
    color: var(--red-error-2);
    font-family: 'Amiri Bold';
    font-size: .8rem;
    z-index: var(--normal-z);

}

.hero-contactanos__input label{
    color: var(--gray-3);
    font-family: 'Lato';
    font-size: 0.875rem;
    font-weight: 900;
    line-height: normal;
}

.hero-contactanos__input input, .hero-contactanos__input div textarea{
    fill: #FFF;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.51);
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 6px;
    padding: .4rem  .4rem;
    resize: none;
}

.hero-contactanos__input-textaerea{
    resize: none;
}
/* Boton */
.hero-contactanos__button{
    display: flex;
    background-color: var(--orange-2);
    color: var(--black-1);
  
}
.hero-contactanos__button:hover{
    background-color: var(--gray-1);
    cursor: pointer;
    border: 1px solid black;
    color: #FFF;
}


/* Placeholder */
*::placeholder{
    font-size: 12px;
    color: var(--gray-1);
    font-family: 'Lato';
}

@media only screen and (min-height:750px){
    .hero-contactanos__container.active{
        height: 100vh;
    }
}