@import '../variables.css';
@import '../fonts.css';

/* Container */
.hero-foodtruck__container{
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 1rem;
    gap: 2rem;
}

/* Titulos */
.hero-foodtruck__title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.625rem;
}
.hero-foodtruck__title{
    width: 100%;
    display: flex;
    justify-content: start;
    max-width: 900px;
}
.hero-foodtruck__title h1{
    color: var(--black-1);
    font-family: 'Pirata One';
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
}

/* Boton */
.hero-foodtruck__button{
    display: flex;
    padding: 0.7rem;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    border-radius: 1.25rem;
    background: var(--black-1, #000);
}

.hero-foodtruck__button p{
    color: var(--text-white);
    text-align: center;
    font-family: 'Amiri';
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}

.hero-foodtruck__button:hover{
    border: 1px solid black;
    background-color: var(--gray-1);
    cursor: pointer;
}